@page
@model SSLCertificateTrackingWebApp.Pages.EmailServer.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EmailServerConfiguration</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmailServerConfiguration.SMTPServer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmailServerConfiguration.SMTPServer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmailServerConfiguration.Port)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmailServerConfiguration.Port)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmailServerConfiguration.Username)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmailServerConfiguration.Username)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmailServerConfiguration.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmailServerConfiguration.Password)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.EmailServerConfiguration.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
