@page
@model SSLCertificateTrackingWebApp.Pages.CertificatesInfo.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CertificateInfo[0].CertificateCategoryID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CertificateInfo[0].CertificateExpirationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CertificateInfo[0].WorkOrderNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CertificateInfo[0].Notes)
            </th>          
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.NewCertificateInfoList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MinimalCategorySelectedName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinimalCertExpireDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinimalCertWorkOrderNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinimalCertNotes)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.MinimalCertId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.MinimalCertId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.MinimalCertId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
